$normal-bg: #AAA67F;
$normal-border: darken(#AAA67F, 20%);

$fighting-bg: #C12239;
$fighting-border: darken(#C12239, 20%);

$flying-bg: #A891EC;
$flying-border: darken(#A891EC, 20%);

$poison-bg: #A43E9E;
$poison-border: darken(#A43E9E, 20%);

$ground-bg: #DEC16B;
$ground-border: darken(#DEC16B, 20%);

$rock-bg: #B69E31;
$rock-border: darken(#B69E31, 20%);

$bug-bg: #A7B723;
$bug-border: darken(#A7B723, 20%);

$ghost-bg: #70559B;
$ghost-border: darken(#70559B, 20%);

$steel-bg: #B7B9D0;
$steel-border: darken(#B7B9D0, 20%);

$fire-bg: #F57D31;
$fire-border: darken(#F57D31, 20%);

$water-bg: #6493EB;
$water-border: darken(#6493EB, 20%);

$grass-bg: #74CB48;
$grass-border: darken(#74CB48, 20%);

$electric-bg: #F9CF30;
$electric-border: darken(#F9CF30, 20%);

$psychic-bg: #FB5584;
$psychic-border: darken(#FB5584, 20%);

$ice-bg: #9AD6DF;
$ice-border: darken(#9AD6DF, 20%);

$dragon-bg: #7037FF;
$dragon-border: darken(#7037FF, 20%);

$dark-bg: #75574C;
$dark-border: darken(#75574C, 20%);

$fairy-bg: #E69EAC;
$fairy-border: darken(#E69EAC, 20%);

$shadow-bg: black;
$shadow-border: lighten(black, 20%);

$default-bg: gray;
$default-border: darken(gray, 20%);

//Lighter BG
$normal-bg-light: lighten(#AAA67F, 20%);
$fighting-bg-light: lighten(#C12239, 20%);
$flying-bg-light: lighten(#A891EC, 20%);
$poison-bg-light: lighten(#A43E9E, 20%);
$ground-bg-light: lighten(#DEC16B, 20%);
$rock-bg-light: lighten(#B69E31, 20%);
$bug-bg-light: lighten(#A7B723, 20%);
$ghost-bg-light: lighten(#70559B, 20%);
$steel-bg-light: lighten(#B7B9D0, 20%);
$fire-bg-light: lighten(#F57D31, 20%);
$water-bg-light: lighten(#6493EB, 20%);
$grass-bg-light: lighten(#74CB48, 20%);
$electric-bg-light: lighten(#F9CF30, 20%);
$psychic-bg-light: lighten(#FB5584, 20%);
$ice-bg-light: lighten(#9AD6DF, 20%);
$dragon-bg-light: lighten(#7037FF, 20%);
$dark-bg-light: lighten(#75574C, 20%);
$fairy-bg-light: lighten(#E69EAC, 20%);
$shadow-bg-light: lighten(black, 20%);
$default-bg-light: lighten(gray, 20%);
